h1 {
  font: gotham-black;
}

p {
  color: cyan;
}
img {
  float: left;
  resize:
}
.background {
  width: 100%;
  height: 100%;
  background-image: url(images/profile-pic.jpg);
  background-size: cover;
  position: relative;
  overflow-y: auto;
}
